* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/*HEADER*/

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0PX;
    height: 220px;
    background-color: black;
}

.imagen_logo {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*NAV*/

ul {
    display: flex;
    justify-content: center;
    width: 1000px;
}

li {
    list-style-type: none;
    padding: 25px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    
}

a:hover{
    color: red;
}

/*MAIN*/

body {
    background-color: white
    width: 1410px;
}

main {
    width: 1420px;
    height: 500px;
}

.main {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

/*TEXTOS*/

h1 {
    color: black;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: red;
    font-size: 20px;
    text-align: center;
}

h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

p {
    color: black;
    font-size: 20px;
    text-align: justify;
}

/*SECCIONES*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 410px;
    margin: 10px;
    padding: 0px;
}

.card__titulo {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.card__texto {
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.card__imagenHome {
    height: 400px;
}

/*FOOTER*/

footer {
    background-color: black;
    margin: 0px;
    padding-top: 10px;
    height: 150px;
    width: 1400px;
}

footer div h3 {
    color: white;
}

.footerLogoRedesSociales {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}

/*ESPECIFICIDAD CON CLASES*/
.ColorVino {
    color: red;    
}

.imagen_redes {
    width: 40px;
    height: 40px;
}

/*PORTFOLIO*/

.imagen_portfolio {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    padding-left: 25px;
}

/*BLOG*/

.article {
    width: 450px;
    margin: 15px;
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imagenBlog {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
}

.video {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;  
}

.textoBlog {
    margin-top: 15px;
    margin-left: 15px;
}

/*CONTACTO*/

.formulario {
    display: flex;
    background-color: grey;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 900px;
    font-size: 10px;
    width: 370px;
    height: 430px;
}

form {
    margin-left: 20px;
    padding-left: 20px;
}

/*ANIMACIONES, TRNASICIONES Y TRNASFORMACIONES*/

main {
    background-image: linear-gradient(to left, white,grey,white);
}

.translate {
    transform: translate(-30px, -30px);
}

.transition {
    height: 100px;
    background-color: aquamarine;
    transition: height 2s;
}

.transition:hover {
    height: 300px;
}

@keyframes aparecerDesaparecer {
    0% {opacity: 0;}
    100% {opacity: 1;} 
}
.footer__encabezado--background{ 
    animation-name: aparecerDesaparecer;
    animation-timing-function: infinite;
    animation-delay: 1s;
    animation-duration: 5s;
}

/*GRIDS - MEDIA QUERIES*/

@media only screen and (max-width: 768px) {

    .contenedor-padre {
        display:grid;
        grid-template-areas: 
        "header header"
        "main main"
        "main main"
        "main main"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 190px 166px 167px 166px 100px;
    }
    
    header {
        grid-area: header;
        width: 1420px;
        height: 200px;
    }
        
    main {
        grid-area: main;
    }
        
    footer {
        grid-area: footer;
        width: 1420px;
        height: 130px;
    }
}
    
@media only screen and (min-width: 1024px) {

    .contenedor-padre {
        display:grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 190px 500px 100px;
    }
    
    header {
        grid-area: header;
        width: 1420px;
        height: 200px;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
        width: 1420px;
        height: 130px;
    }
}