/*SERVICIOS INDEX*/

.servicios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    gap: 10px;
    padding: 30px;
}

.marketing {
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    background-color: #eee;
    box-shadow: 5px 5px 5px 0px rgba(43, 43, 43, 0.75);
    img {
        width: 30%;
        height: 100%;
        object-fit: cover;
    }
}

.marketing-info {
    width: 70%;
    padding: 30px;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

hr {
    width: 50%;
    height: 4px;
    align-self: center;
}

/*FIN SERVICIOS*/

.contenedor-padre {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

header {
    grid-area: header;
    width: 100%;
}

main {
    grid-area: main;
}

.main-index {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    max-height: 100%;
}

footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
}

/*MAIN*/

body {
    background-color: $colorLight;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}

/*TEXTOS*/

h1 {
    color: $color;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: red;
    font-size: 20px;
    text-align: center;
}

h3 {
    color: $colorLight;
    font-size: 15px;
    text-align: center;
}

p {
    color: $color;
    font-size: 20px;
    text-align: justify;
}

/*SECCIONES*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 0px;

    &__titulo {
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    &__texto {
        margin-top: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }

    &__imagenHome {
        height: 400px;
    }
}

.banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)),
        url(https://www.brother.eu/-/media/images/brother-es/blog/header-images/2016/impresion-distribuida.jpg?rev=366bea9c936a49b084dc107ae7d2fd99&mw=1170&hash=03F46E4AA11A2DFAA4237CA170910C4AC6B1CC35);
    background-size: cover;
}

.banner-titulo {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
}

/*ESPECIFICIDAD CON CLASES*/
.ColorVino {
    color: $color;
}

.imagen_redes {
    width: 40px;
    height: 40px;
}

/*PORTFOLIO*/

.imagen_portfolio {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    padding-left: 25px;
}

/*BLOG*/

.article {
    width: 600px;
    margin: 15px;
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imagenBlog {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
}

.video {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.textoBlog {
    margin-top: 15px;
    margin-left: 15px;
}

/*CONTACTO*/

.formulario {
    display: flex;
    background-color: grey;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 550px;
    margin-right: 900px;
    margin-bottom: 20px;
    font-size: 10px;
    width: 370px;
    height: 430px;
}

form {
    margin-left: 20px;
    padding-left: 20px;
}






